#############################################################
################### OFFICIAL UBUNTU REPOS ###################
#############################################################

###### Ubuntu Main Repos
deb http://us.archive.ubuntu.com/ubuntu/ {{ grains['oscodename'] }} main universe multiverse restricted

###### Ubuntu Update Repos
deb http://us.archive.ubuntu.com/ubuntu/ {{ grains['oscodename'] }}-security main universe multiverse restricted
deb http://us.archive.ubuntu.com/ubuntu/ {{ grains['oscodename'] }}-updates main universe multiverse restricted

###### Ubuntu Partner Repo
deb http://archive.canonical.com/ubuntu {{ grains['oscodename'] }} partner
deb-src http://archive.canonical.com/ubuntu {{ grains['oscodename'] }} partner
