# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName ftpfiles.uniquecarpetsltd.com
AuthUserFile /home/uclfiles/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/uclfiles/public_html/_vti_pvt/service.grp
